{"hfa-hash-clock": "650", "log": "5", "scan-time": "60", "api-mcast-addr": "224.0.0.75", "api-port": "4028", "api-allow": "W:127.0.0.1", "api-mcast-port": "4028", "api-mcast-des": "", "hfa-temp-overheat": "100", "hfa-fail-drop": "10", "queue": "1", "api-mcast-code": "FTW", "suggest-diff": "0", "api-host": "0.0.0.0", "hotplug": "5", "api-description": "cgminer 4.9.1", "pools": [{"url": "stratum+tcp://uk1.ghash.io:3333", "priority": "1", "user": "kamillo.worker2", "pass": "x"}], "api-listen": true, "expiry": "120", "shares": "0", "hfa-temp-target": "88"}
