<IfModule mod_rewrite.c>
	<VirtualHost *:80>
		ErrorLog ${APACHE_LOG_DIR}/error.log
		CustomLog ${APACHE_LOG_DIR}/access.log combined
		RewriteEngine On
		RewriteCond %{SERVER_PORT} !^443$
		RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R,L]
	</VirtualHost>
</IfModule>

<IfModule mod_ssl.c>
	<VirtualHost _default_:443>
		ServerAdmin webmaster@localhost
		ErrorLog ${APACHE_LOG_DIR}/error.log
		CustomLog ${APACHE_LOG_DIR}/access.log combined
		WSGIDaemonProcess emcweb user=emc group=emc threads=3 home=/var/lib/emcweb
		WSGIScriptAlias / /var/lib/emcweb/emcweb.wsgi
		<Directory /var/lib/emcweb>
			WSGIProcessGroup emcweb
			WSGIApplicationGroup %{GLOBAL}
			Order deny,allow
			Allow from all
			SSLOptions +StdEnvVars +ExportCertData
			SSLVerifyClient optional
			SSLVerifyDepth 1
			Require all granted
		</Directory>
		<LocationMatch "/css/[^/]+">
			SSLVerifyClient none
		</LocationMatch>
		<LocationMatch "/js/[^/]+">
			SSLVerifyClient none
		</LocationMatch>
		SSLEngine on
        SSLCertificateFile /var/lib/emc/ssl/emercoin.crt
        SSLCertificateKeyFile /var/lib/emc/ssl/emercoin.key
		SSLCACertificateFile /var/lib/emc/ssl/emcssl_ca.crt
		<FilesMatch "\.(cgi|shtml|phtml|php)$">
			SSLOptions +StdEnvVars
		</FilesMatch>
		<Directory /usr/lib/cgi-bin>
			SSLOptions +StdEnvVars
		</Directory>
		BrowserMatch "MSIE [2-6]" \
			nokeepalive ssl-unclean-shutdown \
			downgrade-1.0 force-response-1.0
		BrowserMatch "MSIE [17-9]" ssl-unclean-shutdown
	</VirtualHost>
</IfModule>
